@import "tailwindcss";
@config "./tailwind.config.js";

:root {
    font-family: 'Inter', sans-serif;
    background-color: #020617;
    color: #f8fafc;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}